ebdjango/step_funcs/payment.json
{
    "Comment": "Payment Processing State Machine",
    "StartAt": "paymentFunction",
    "States": {
      "paymentFunction": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:930441988510:function:payment:$LATEST",
        "Next": "PaymentSuccess?",
        "Retry": [
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "IntervalSeconds": 3,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "CustomError1",
              "CustomError2"
            ],
            "Next": "PaymentFailed"
          },
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "PaymentError"
          }
        ]
      },
      "PaymentSuccess?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.body.payment_status",
            "StringEquals": "paid",
            "Next": "PaymentSuccess"
          },
          {
            "Variable": "$.body.payment_status",
            "StringEquals": "already_paid",
            "Next": "PaymentFailed"
          }
        ]
      },
      "PaymentSuccess": {
        "Type": "Succeed"
      },
      "PaymentFailed": {
        "Type": "Fail",
        "Error": "PaymentFailed",
        "Cause": "Payment failed or appointment already paid"
      },
      "PaymentError": {
        "Type": "Fail",
        "Error": "PaymentError",
        "Cause": "An error occurred while processing payment"
      }
    }
  }